<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/new-relic-dotnet-buildpack/index.html">New Relic Dotnet Extension Buildpack for PCF</a>
      </li>

      <li>
        <a href="/new-relic-dotnet-buildpack/installing.html">Installing and Configuring</a>
      </li>

      <li>
        <a href="/new-relic-dotnet-buildpack/using.html">Using New Relic Dotnet Extension Buildpack for PCF</a>
      </li>

      <li>
        <a href="/new-relic-dotnet-buildpack/release-notes.html">Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
