---
title: New Relic Dotnet Extension Buildpack for PCF (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>WARNING! </strong>
The initial version of the New Relic Dotnet Extension Buildpack for Pivotal Cloud Foundry (PCF) 
was in private beta internally. 
It was used by New Relic and a select number of customers before being released to Pivotal Network. 
The product is currently in public beta and is intended for evaluation and testing purposes until further notice.
</p>

This documentation describes the New Relic Dotnet Extension Buildpack for PCF and provides 
instructions on how to install the tile. The tile can bind New Relic agents to Dotnet
 Core or Dotnet Framework apps so you can monitor them in a PCF environment.

<br/>
<center>
    <img src="images/nr-black-256x256.png" alt="New Relic Dotnet Extension Buildpack for PCF Logo" height="150" width="150"/>
</center>


## <a id='overview'></a> Overview

The New Relic Dotnet Extension Buildpack for PCF enables you to bind your Dotnet (Core and Framework) apps to 
New Relic Dotnet agents. This allows you to monitor the health and performance of these apps, 
analyze the data captured by agents, and additionally correlate the captured agent data with PCF infrastructure metrics and events collected by the [New Relic Firehose Nozzle](https://network.pivotal.io/products/nr-firehose-nozzle/).

The New Relic Dotnet Extension Buildpack for PCF can be installed via the tile in Ops Manager. 
Alternatively, you can extract the PIVOTAL file and install individual extension buildpacks using the 
cf Command Line Interface (CLI) command <code>cf create-buildpack</code>.

After you start monitoring your apps, you can set alerts based on any metrics
that are collected by Dotnet agents using the New Relic alerting subsystem.

The New Relic Dotnet Extension Buildpack for PCF installs one or more of the
following buildpacks depending on the tile configuration:

+ New Relic Dotnet Core Extension Buildpack for Dotnet Core Applications (Ubuntu Trusty 14.04 and Xenial 16.04 stemcells).
  This extension buildpack is non-cached.

+ New Relic Dotnet Core Extension Cached Buildpack for Dotnet Core
   Applications (Ubuntu Trusty 14.04 and Xenial 16.04 stemcells) running in disconnected (isolated) PCF deployments

+ New Relic HWC Extension Buildpack for Dotnet Framework Applications (Windows 2012 R2 and Windows 2016 stemcells) 
  This extension buildpack is non-cached.

+ New Relic HWC Extension Cached Buildpack for Dotnet Framework Applications
   (Windows 2012 R2 and Windows 2016 stemcells) running in disconnected (isolated) PCF deployments

All buildpacks use the multi-buildpack approach of Cloud Foundry and require either the standard 
Dotnet Core buildpack or HWC buildpack to be specified in the buildpack chain, either in the app 
manifest or in the cf CLI.

## <a id="snapshot"></a> Product Snapshot

The following table provides version and version-support information about New Relic Dotnet Extension Buildpack for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 21, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>New Relic Dotnet Extension Buildpack v1.0.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service versions</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, Azure, and vSphere</td>
    </tr>
</table>


## <a id='compatibility'></a> Compatibility

This product has been tested and is compatible with PCF versions v2.1.x and later.


## <a id="reqs"></a> Requirements

New Relic Dotnet Extension Buildpack for PCF requires the following:

* An active New Relic account with a license key. This is used to bind Dotnet apps to New Relic Dotnet agents.

* To use multi-buildpacks in the app manifest, you need cf CLI v6.38 or later.
  For general information about adding buildpacks to manifests,
  see [buildpacks](https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html#buildpack)
  in the Cloud Foundry documentation.

* To use the Dotnet HWC extension, you need the buildpack 3.0.3 or later.

* To use the Dotnet Core extension, you need the dotnet core buildpack 2.1.5 or later.


## <a id='trial'></a> Trial License

If you do not already have a New Relic account, you can obtain an account with a [60-day free trial license](http://newrelic.com/signup?funnel=pivotal-cloud-foundry&partner=Pivotal+Cloud+Foundry&product_id=Standard&promo_code=PVCF60PRO).


## <a id="feedback"></a> Feedback

If you have feature requests, questions, or information about a bug, please submit an issue [on github](https://github.com/newrelic/newrelic-dotnet-buildpack-tile/issues).
