---
title: Release Notes for New Relic Dotnet Extension Buildpack for PCF
owner: Partners
---

These are release notes for New Relic Dotnet Extension Buildpack for PCF.


## <a id="ver-1.1.1"></a> v1.1.1 

**General Access Release Date:** June 19, 2019

Features included in this release:

* Tested with PCF versions 2.5 and 2.6


## <a id="ver-1.1.0"></a> v1.1.0 

**General Access Release Date:** February 20, 2019

Features included in this release:

* Initial GA release
* Support for Ubuntu Xenial stemcells
* Tested with PCF versions 2.1 to 2.4
* Documentation updates


## <a id="ver-1.0.1"></a> v1.0.1

**Public Beta Release Date:** November 21, 2018

Features included in this release:

* HWC extension buildpack for support of multi-buildpack approach
* Cached version of the Dotnet Core Buildpack
* HWC extension support for **Windows 2012 R2 and 2016**
* Dotnet Core extension support for **Ubuntu Trusty and Xenial**
* Code improvements to the HWC and Dotnet Core extension buildpacks
* HWC and Dotnet Core extension buildpacks support the following ways to bind to the New Relic agent:
	* New Relic license environment variable
	* New Relic service broker
	* New Relic user-provided services
	* New Relic agent configuration file


## <a id="ver-0.2.14"></a> v0.2.14

**Initial Private Beta Release Date:** June 20, 2018

Features included in this release:

* HWC Buildpack with New Relic support
* HWC Buildpack cached with New Relic support
* Dotnet Core multi-buildpack extension buildpack
