---
title: Release Notes for New Relic Dotnet Extension Buildpack for PCF
owner: Partners
---

These are release notes for New Relic Dotnet Extension Buildpack for PCF.


## <a id="ver-1.0.1"></a> v1.0.1

**Public Beta Release Date:** November 8, 2018

Features included in this release:

* hwc extension buildpack for support of multi-buildpack approach
* added cached version of dotnet core buildpack
* hwc extension supports **Windows 2012 R2, and 2016**
* dotnet core extension supports **ubuntu trusty and xenial**
* code improvements in hwc and dotnet core extension buildpacks
* both hwc and dotnet core buildpacks support following ways to bind to new relic agent:
	* New Relic license environment variable
	* New Relic service broker
	* New Relic User-Provided-Services
	* New Relic agent confuration file


## <a id="ver-0.2.14"></a> v0.2.14

**Initial Private Beta Release Date:** June 20, 2018

Features included in this release:

* hwc buildpack with newrelic support
* hwc buildpack cached with newrelic support
* dotnet core multi-buildpack extension buildpack
