---
title: Using New Relic Dotnet Extension Buildpack for PCF
owner: Partners
---

This topic describes how to use New Relic Dotnet Extension Buildpack for Pivotal Cloud Foundry (PCF).


## <a id='using'></a> About Using New Relic Dotnet Extension Buildpack for PCF

New Relic extension buildpacks allow you to use Dotnet agents in various ways
to make it easy and convenient to bind apps to a New Relic service.

### <a id='how-it-works'></a> How the New Relic Extension Buildpack for PCF Works

The buildpack extensions bind to the New Relic Dotnet agent using one of the following ways depending on the environment:

1. If an environment variable named **"NEW_RELIC_DOWNLOAD_URL"** is defined in the app environment
(manifest file, cf set-env, or set in AppsMgr), its value is used as the location to download the agent.
This is used for environments where you have your own repository for downloading dependencies (i.e. Artifactory).
If a second environment variable called **"NEW_RELIC_DOWNLOAD_SHA256"** is set in the app environment,
it is expected to hold the downloaded agent's binary file SHA256 checksum.
In this case the SHA256 checksum of the downloaded agent binary file is compared with this value, and in the case of a mismatch, the buildpack reports an error.

1. You can create a cached version of the buildpack using the **"--cached"** switch with New Relic agent embedded in
the buildpack. This is mainly used in disconnected (isolated) environments where PCF does not have access to the
outside world, and the buildpack cannot download the agent from New Relic's download site.

1. Use a specific version of New Relic agent by specifying the version in the buildpack manifest file at the time of packaging.

1. Set the version of the agent to **"0.0.0.0"**, **"latest"**, or **"current"** in buildpack manifest file to download the latest version of the agent.

Except in the first case when the download URL is specified, and the sha-256 code is not available
the buildpack checks the SHA256 checksum of the downloaded (or copied) agent to validate the download.

New Relic recommends you use the latest version of New Relic agents unless there is a reason
that keeps you from upgrading to newer releases of the agent.


### <a id='precedence'></a> Order of Precedence

The order of precedence for which method to use to obtain the New Relic agent is from the top to bottom:

1. If **"NEW_RELIC_DOWNLOAD_URL"** is specified, it precedes all other options.

1. If this environment variable is not specified, the cached buildpack takes precedence.

1. Otherwise, the `version` property of the agent in the buildpack manifest is used,
and one of the other two options is used to download the agent,
depending on the value of the `version` property of the agent dependency (explicit version or "latest").


## <a id='how-it-operates'></a> How the Extension Buildpack Binds Apps to the New Relic Agent

The buildpack looks for several environment variables and files to determine how to bind the app to the agent.


### <a id='license-key'></a> Bind the App to the New Relic Agent

The license key for a New Relic account must be specified in one of the following ways:<br/><br/>
* NEW_RELIC_LICENSE_KEY env var<br/>
* License key from User-Provided-Service<br/>
* License key from Service Broker Tile in Marketplace<br/>
* License key from newrelic.config<br/>

<p class="note"><strong>Note:</strong> environment variables override all other options.</p>


### <a id='app-name'></a> App Name in the New Relic UI

The app name for New Relic is determined in the following order:<br/><br/>
* NEW_RELIC_APP_NAME env var<br/>
* App name from User-Provided-Service<br/>
* App name from PCF<br/>
* **Note** Currently the App name is not used in the newrelic.config file<br/>


### <a id='agent-config'></a> New Relic Agent Configuration File

The New Relic configuration file (**"newrelic.config"**) allows you to set a number of agent properties and change the behavior of the agent as you wish.
Refer to [.NET agent configuration](https://docs.newrelic.com/docs/agents/net-agent/configuration/net-agent-configuration)
for more information on configuring the agent. You can make a copy of this file in the app's root directory, and change any of agent's settings.
The buildpack looks for the agent's config file in the following order:<br/><br/>
* App root folder<br/>
* Buildpack folder<br/>
* Agent folder<br/>


### <a id='ups'></a> New Relic User-Provided-Services

If the app binds to a User-Provided-Service with the word **"newrelic"** as part of its name,
the buildpack injects the credentials from this service in the app environment by setting environment
variable for known New Relic properties. The known properties currently are:<br/><br/>
* NEW_RELIC_LICNESE_KEY<br/>
* NEW_RELIC_APP_NAME<br/>
* NEW_RELIC_DISTRIBUTED_TRACING_ENABLED<br/>


### <a id='proxy'></a> Use of Proxy

If you're using a proxy server in your environment, you need to make a copy of the **"newrelic.config"**
file of the agent in the app directory,
and specify the [proxy information](https://docs.newrelic.com/docs/agents/net-agent/configuration/net-agent-configuration#proxy)
as a child of the **&lt;service&gt;** element.<br/>
**Example:**<br/>
<pre>
	&lt;service licenseKey="0123456789abcdef0123456789abcdef01234567"&gt;
	  &lt;proxy name="my.proxy.address" port="proxy.port" /&gt;
	&lt;/service&gt;
</pre>


### <a id='using-nr-agent'></a>Bind Your App to the New Relic Agent

To bind your app to the New Relic service, you need to specify a New Relic
account license key in one of the following ways:

+ [Use a License Key Environment Variable](#using-key-env)
+ [Use a local copy of the New Relic Dotnet Agent](#using-local-copy)
+ [Use the New Relic Dotnet tile](#using-tile)
+ [Use a User-Provided Service](#using-user)
+ [Use the cf CLI](#using-cli)

#### <a id='using-key-env'></a>Use a License Key Environment Variable

The quickest and easiest way to bind your app to the New Relic Dotnet agent is
using the license key environment variable `NEW_RELIC_LICNENSE_KEY` and
setting it using your New Relic account license key.

#### <a id='using-local-copy'></a>Use a Local Copy of the New Relic Dotnet Agent

If you are in a disconnected (isolated) environment, the easiest way is to obtain
the latest version of the New Relic Dotnet agent is through the
[New Relic download site](http://download.newrelic.com/dot_net_agent/).

You can then upload them to your local repository (i.e. Artifactory).
In the app manifest file you can then set the `NEW_RELIC_DOWNLOAD_URL` environment
variable to the location of the agent download.


#### <a id='using-tile'></a>Use the New Relic Dotnet Tile
To bind your app with the New Relic Dotnet tile, do one of the following:

* From Pivotal Serivces Marketplace:
	1. Click on **New Relic Dotnet Extension Buildpack for PCF** tile
	1. Select the plan that is associated with your New Relic account
	(check with PCF admin).
	1. Specify the instance name.
	1. If you have your app running on PCF, you can specify the app name
	as well.
	1. If you do not have your app running on PCF, after you push the app,
	you can directly bind to an existing service instance (or create a new service
	instance) from the app UI.
	1. To create the cervice instance, click **Create**.
	1. After the service instance is created, you can also use the `services`
	section in your app `manifest.yml` file, and specify the name of the service
	you just created in the marketplac.e
	1. To restage the app, run the following command:

		```
		cf restage MY-APP
		```

		Where:
		`MY-APP` is the name of your app.

* From Apps Manager:
	1. Push your app to PCF.
	1. In **Apps Manager**, click on your app.
	1. Navigate to **Service**.
	1. If you have already created a service instance, do the following:
		1. Select **Bind Service**.
		1. Select the service instance you want.
		1. Click **Bind**
	1. If this your first time create a service instance and one does not exist,
	do the following:
		1. Select **New Service**.
		1. Click on the **New Relic Dotnet Extension Buildpack for PCF service** tile.
		1. Select the plan that is associated with your New Relic account.
		1. Click **Select Plan**.
		1. Specify the instance name.
		1. Click **Create**
	1. To restage the app, run the following command:

		```
		cf restage MY-APP
		```

		Where:
		`MY-APP` is the name of your app.

#### <a id='using-user'></a>Use a User-Provided Service
1. Create a user-provided service with `newrelic` as part of the service name.
1. Add the following credentials to the user-provided service:
	+ `licenseKey`. This is the New Relic license key.
	+ (Optional) `appName`. If you want to change the app name in New Relic
	use this property
1. Run the following command:

	```
	cf cups MY-NEWRELIC-SVCc -p licenseKey,appName
	```

	Where `MY-NEWRELIC-SVC` is the name of your user-provided service. <br><br>

	You will be prompted to enter values for licenseKey and appName.<br><br>
1. To push your app, do one of the following:
	+ Before pushing your app, add the user-provided service to the app
	`manifest.yml`.
	+ Bind an existing service instance and then restage the app.


#### <a id='using-cli'></a>Use the cf CLI
1. To create an instance of New Relic service, run the following command:

	```
	cf create-service newrelic NEWRELIC-PLAN-NAME NEWRELIC-SERVICE-INSTANCE-NAME
	```

	Where:
	+ `NEWRELIC-PLAN-NAME` is the name of your New Relic service plan.
	+ `NEWRELIC-SERVICE-INSTANCE-NAME` is the name of your New Relic service instance.
1. Specify the service instnace name in the `services` section of the app
`manifest.yml` file. Indent the section by two space.<br><br>
 For example:

	```
		  services:
		  - YOUR-NEWRELIC-SERVICE-INSTANCE-NAME
	```
1. To push the app, run the following command:

	```
	cf push
	```

### <a id='envvar-and-nrconfig'></a>Using Environment Variables and Agent Configuration

* You can use the `newrelic.config` file or environment variables to configure the
New Relic Dotnet Agent to report app health and performance to the designated
New Relic account.

	- A copy of the 'newrelic.config' file is provided with the buildpack.
If you need to add any agent features such as proxy settings, or change any other agent settings like logging behavior,
download the **newrelic.config** file from New Relic, place it the app folder,
and edit as required. You can refer to [New Relic Configuration documentation](https://docs.newrelic.com/docs/agents/net-agent/configuration/net-agent-configuration) for details on what properties are available. The following are some examples you can use:

		- **new relic license key:** Add your New Relic license key:<br/>
			```
			  <service licenseKey="0123456789abcdef0123456789abcdef01234567">
			```

			Alternatively, you can add the license key to app's 'manifest.yml' file as an environment variable "NEW_RELIC_LICENSE_KEY" in the "env" section


		- **New Relic app name:** If you want the app name in New Relic be different than the app name in PCF, add the New Relic app name as you'd like it to appear in New Relic<br/>
	    <pre>
			  &lt;application&gt;
			    &lt;name&gt;My Application&lt;/name&gt;
			  &lt;/application&gt;
	    </pre>

			Alternatively you can add the New Relic app name to the app's 'manifest.yml' file as an environment variable "NEW_RELIC_APP_NAME" in the "env" section


	    - **Proxy Setting:** Add proxy settings to the "service" element as a sub-element. **Example:**
	    <pre>
	    	  &lt;service licenseKey="0123456789abcdef0123456789abcdef01234567"&gt;
	    	    &lt;proxy host="my_proxy_server.com" port="9090" /&gt;
	    	  &lt;/service&gt;
	    </pre>



	    - **Logging Level:** Change agent logging level and destination<br/>
	    <pre>
	    	  &lt;log level="info" console="true" /&gt;
	    </pre>

	    - **Non-IIS Executable Instrumentation:** Since for Dotnet Framework apps 'hwc.exe' is the executable
running your app, the copy of **"newrelic.config"** file that comes with the hwc extension
contains the proper settings to tell the executable name to the agent.
If you provide your own **"newrelic.config"** file, make sure it contains the following tag:
	    <pre>
			  &lt;instrumentation&gt;
			    &lt;applications&gt;
			      &lt;application name="hwc.exe" /&gt;
			    &lt;/applications&gt;
			  &lt;/instrumentation&gt;
		</pre>

            <p class="note"><strong>Note:</strong> Depending on your CI/CD pipeline,
               the app directory may be created on-the-fly as part of the on-the-fly as part of the
               pipeline. If that is the case and you are modifying this file,
               your pipeline need to copy over the file to the app directory before pushing the app to PCF.</p>


	- Push your application to PCF using this buildpack.
          To do that, edit your manifest.yml and add/update the following entry.

		<pre>
			buildpacks:
			- &lt;NEWRELIC_EXTENSION_BUILDPACK_NAME&gt;
			- hwc_buildpack
		</pre>

		Then run "cf push".

		**Note:** If you use Bamboo as your CI/CD pipeline tool, the "cf push" may not be required as your pipeline internally uses "cf push" to push the app to PCF.



### <a id='envvar-and-nrconfig'></a>Debugging

* Set the **BP_DEBUG** environment variable
	- For troubleshooting purposes, you can set **BP_DEBUG** environment variable in your app environment to get more logging during the app push.


* Check the logs
	- Use **cf logs &lt;APP_NAME&gt;** or **cf logs &lt;APP_NAME&gt; --recent**   to examine the app logs. It should display New Relic agent installation progress.


* Use Cloud Foundry's [**CF_TRACE**](https://docs.cloudfoundry.org/devguide/deploy-apps/troubleshoot-app-health.html#trace-cloud-controller-rest-api-calls) to get detailed information about errors and unexpected behavior.


## <a id='examples'></a>Examples

### <a id='example-dotnet-core'></a>Push a Sample Dotnet Core App to PCF

This example does the following:

+ Uses the `dotnet` CLI to create a sample Dotnet Core app
+ Configures the app manifest to bind the app with New Relic Dotnet Core agent
+ Pushes the app to PCF.

The example uses environment variables to specify the license key for the New Relic account.

1. Create a sample Dotnet MVC app or use your existing Dotnet Core app.

    ```
    dotnet new mvc -n myapp
    ```

1. Test the app locally<br/>
```
cd myapp
dotnet run
```

1. Create a manifest.yml file for the app<br/>
  <pre>---
applications:
\- name: myapp
&nbsp; memory: 256M
&nbsp; buildpacks:
&nbsp;   \- nr\_dotnetcore\_extension\_buildpack
&nbsp;   \- dotnet\_core\_buildpack
&nbsp; env:
&nbsp;   NEW\_RELIC\_LICENSE\_KEY: 0123456789abcdef0123456789abcdef01234567
  </pre>

1. To push the app to PCF, run the `cf push` command.


### <a id='example-dotnet-framework'></a>Push a Sample Dotnet Framework App to PCF

The following example shows the steps to configure the app manifest to bind a Dotnet Framework app to the
New Relic Dotnet Framework agent using the New Relic HWC extension buildpack and the standard Cloud Foundry
HWC buildpack and to push the app to PCF.

The example uses environment variable to specify the license key for the New Relic account.

1. Create a sample Dotnet Framework app or pick one of your Dotnet Framework apps.

1. Test the app locally and make sure it runs with no errors.

1. Create a `manifest.yml` file for the app.
  <pre>---
applications:
\- name: myapp
&nbsp; memory: 256M  # adjust as needed
&nbsp; buildpacks:
&nbsp;   \- nr\_hwc\_extension_buildpack
&nbsp;   \- hwc\_buildpack
&nbsp; env:
&nbsp;   NEW\_RELIC\_LICENSE\_KEY: 0123456789abcdef0123456789abcdef01234567
  </pre>

1. To push the app to PCF, run the `cf push` command.
